:root {
  --oui-font-family: 'Manrope', sans-serif;

  /* colors */
  --oui-color-primary: 0 204 93;
  --oui-color-primary-light: 0 204 93;
  --oui-color-primary-darken: 0 204 93;
  --oui-color-primary-contrast: 26 26 26;

  --oui-color-link: 0 204 93;
  --oui-color-link-light: 0 204 93;

  --oui-color-secondary: 255 255 255;
  --oui-color-tertiary: 237 237 237;
  --oui-color-quaternary: 218 218 218;

  --oui-color-danger: 214 32 53;
  --oui-color-danger-light: 214 32 53;
  --oui-color-danger-darken: 214 32 53;
  --oui-color-danger-contrast: 255 255 255;

  --oui-color-success: 15 204 113;
  --oui-color-success-light: 15 204 113;
  --oui-color-success-darken: 15 204 113;
  --oui-color-success-contrast: 255 255 255;

  --oui-color-warning: 255 196 0;
  --oui-color-warning-light: 255 196 0;
  --oui-color-warning-darken: 255 214 10;
  --oui-color-warning-contrast: 255 255 255;

  --oui-color-fill: 0 0 0;
  --oui-color-fill-active: 26 26 26;

  --oui-color-base-1: 99 101 105;
  --oui-color-base-2: 87 88 92;
  --oui-color-base-3: 62 63 66;
  --oui-color-base-4: 62 63 66;
  --oui-color-base-5: 54 56 58;
  --oui-color-base-6: 45 45 47;
  --oui-color-base-7: 37 38 39;
  --oui-color-base-8: 32 33 34;
  --oui-color-base-9: 12 13 13;
  --oui-color-base-10: 10 10 11;

  --oui-color-base-foreground: 255 255 255;
  --oui-color-line: 45 45 46;

  --oui-color-trading-loss: 233 60 106;
  --oui-color-trading-loss-contrast: 255 255 255;
  --oui-color-trading-profit: 0 204 93;
  --oui-color-trading-profit-contrast: 255 255 255;

  /* gradients */
  --oui-gradient-primary-start: 40 0 97;
  --oui-gradient-primary-end: 189 107 237;

  --oui-gradient-secondary-start: 81 42 121;
  --oui-gradient-secondary-end: 176 132 233;

  --oui-gradient-success-start: 1 83 68;
  --oui-gradient-success-end: 41 223 169;

  --oui-gradient-danger-start: 153 24 76;
  --oui-gradient-danger-end: 245 97 139;

  --oui-gradient-brand-start: 0 204 93;
  --oui-gradient-brand-end: 0 204 93;
  --oui-gradient-brand-stop-start: 6.62%;
  --oui-gradient-brand-stop-end: 86.5%;
  --oui-gradient-brand-angle: 17.44deg;

  --oui-gradient-warning-start: 152 58 8;
  --oui-gradient-warning-end: 255 209 70;

  --oui-gradient-neutral-start: 27 29 24;
  --oui-gradient-neutral-end: 38 41 46;

  /* rounded */
  --oui-rounded-sm: 2px;
  --oui-rounded: 4px;
  --oui-rounded-md: 6px;
  --oui-rounded-lg: 8px;
  --oui-rounded-xl: 12px;
  --oui-rounded-2xl: 16px;
  --oui-rounded-full: 9999px;

  /* spacing */
  --oui-spacing-xs: 600rem;
  --oui-spacing-sm: 36rem;
  --oui-spacing-md: 40rem;
  --oui-spacing-lg: 40rem;
  --oui-spacing-xl: 40rem;
}